---
layout: splash
permalink: /
header:
  image: /assets/images/background4.png
feature_row:
  - image_path: /assets/images/ios.jpg
    alt: "Tutorial Sets"
    title: "Tutorial Sets"
    excerpt: "Exploring and Teaching different technologies from the bottom up."
    url: "/tutorial-sets/"
    btn_label: "View Sets"
  - image_path: /assets/images/code.jpg
    alt: "projects"
    title: "Projects"
    excerpt: "Mobile, Web, Security, and all other apps/tech/projects."
    url: "/projects/"
    btn_label: "View Projects"
  - image_path: /assets/images/beach.jpg
    alt: "adventures"
    title: "Adventures"
    excerpt: "My adventures with college, music, and everything else, no tech required."
    url: "/adventures/"
    btn_label: "View Adventures"
intro:
  - excerpt: "Hi. I'm Josh. Welcome to my blog."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}