---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/computer.jpg
  cta_label: "Cache me on LinkedIn"
  cta_url: "https://www.linkedin.com/in/joshua-streger/"
  caption:
excerpt: "Hi. I'm Josh. Welcome to my blog."
feature_row:
  - image_path: /assets/images/ios.jpg
    alt: "iOS Development"
    title: "iOS Development"
    excerpt: "Exploring and Teaching iOS from the bottom up."
    url: "/ios-dev/"
    btn_label: "View Posts"
  - image_path: /assets/images/code.jpg
    alt: "security-dev"
    title: "Cybersecurity"
    excerpt: "Security, Bug bounties, Exploits, and most other tech/projects."
    url: "/"
    btn_label: "Coming Soon"
  - image_path: /assets/images/beach.jpg
    alt: "adventures"
    title: "Adventures"
    excerpt: "My adventures with college, music, and everything else, no tech required."
    url: "/adventures/"
    btn_label: "View Posts"
intro:
  - excerpt: 'Check out my latest endeavors:'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}